# Eclipse
.project
.classpath
.settings/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Maven
target/

#Gradle
.gradle

# TestNG
test-output/

# JBoss AS
transaction.log

arquillian-extension-liferay-example/test-resources